@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('./covers/image.jpg');
   background-size: cover;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }

  #bolly{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-wrap:wrap;
    background-color: aqua;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    background-image: url("./covers/bollywood.jpg");
   background-size: cover;

  }
  #punjab{
           width: 200px;
           height: 200px;
           border-radius: 5px;
           display: flex;
           flex-wrap:wrap;
           background-color: aqua; 
           justify-content: center;
           font-size: larger;
           font-weight: bolder;
           background-image: url("./covers/punjabi.jpg");
           background-size:cover;

        }
#holly{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-wrap:wrap;
    background-color: aqua;
    /* text-align: center; */
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    background-image: url("./covers/hollywood.jpg");
    background-size: cover;
}
#devotional{
    
        width: 200px;
        height: 200px;
        border-radius: 5px;
        display: flex;
        flex-wrap:wrap;
        background-color: aqua;
        justify-content: center;
        font-size: larger;
        font-weight: bolder;
        background-image: url("./covers/devotional.jpg");
        background-size: cover;
        

}
.album{
    display:flex;
     flex-wrap:wrap;
     gap:200px; 
    justify-content: space-between;
    color:rgb(228, 173, 173);
    justify-content: center;
    padding: 20px;
}
#bolly:hover{
 transform: scale(1.035);
    font-size: x-large;
    color:crimson
}
#holly:hover{
    transform: scale(1.035);
    font-size: x-large;
    color:crimson
}
#punjab:hover{
    transform: scale(1.035);
    font-size: x-large;
    color:crimson
}
#devotional:hover{
    transform: scale(1.035);
    font-size: x-large;
    color:crimson
}
.home:hover{
    /* font-size: large; */
    transform: scale(1.035);
    cursor: pointer;
    color: aqua;

}
.Album:hover{
    /* font-size: large; */
    transform: scale(1.035);
    cursor: pointer;
    color: aqua;

}
.about:hover{
    /* font-size: large; */
    transform: scale(1.035);
    cursor: pointer;
    color: aqua;

}
.brand:hover{
    cursor: pointer;

}
#about{
    width: 300px;;
    height: auto;
    margin: auto;
    left: 500px;
    /* position: fixed; */
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
    color: rgb(3, 1, 8);
    font-size: larger;
    font-style: italic;

    background-color: rgb(12, 211, 247);
}

a{
    padding: 3px;
    text-decoration: none;
    color:black
  }
  label{
    font-style: italic;
    font-size: larger;
    
  }
  
  .num{
     border: 2px solid rgb(57, 55, 55);
     border-radius: 2px;
     border-radius: 15px;
     padding: 15px;
     width: 400px;
     height: 5px;
     background-color: beige;
      }
    
    .radio{ 
        border: 2px solid rgb(57, 55, 55);
        border-radius: 2px;
        border-radius: 15px;
        padding: 5px;
        width: 50px;
        height: 15px;
        background-color: beige;
  
  
    }
    .date{
        
        border: 2px solid rgb(57, 55, 55);
        border-radius: 1px;
        border-radius: 10px;
        padding: 15px;
        width: 400px;
        height: 5px;
    }
    .area{
        width: 400px;
        border: 2px solid rgb(57, 55, 55);
        border-radius: 1px;
        border-radius: 10px;
        padding: 15px;
        height: 50px;
        background-color: beige;
    }
    .select{
        border: 1px solid rgb(241, 245, 229);
        border-radius: 02px;
        background-color: white;
        width: 430px;
        height: 35px;
    }
    .select{
        
        border-radius: 02px;
        border-radius: 5px;
        background-color: rgba(244, 255, 205, 0.955);
        width: 430px;
        height: 25px;
    }
   .button{
    font-size: larger;
    background-color: rgba(244, 255, 205, 0.955);
    border: 2px solid rgb(182, 230, 9);
    border-radius: 1px;
    border-radius: 10px;
    padding: 15px;
    width: 435px;
    height: 5px;
    padding-bottom: 22px;
    cursor: pointer;
  
  
   }
   h2{
    padding-left: 60px;
    
   }
   h3{
    font-size:x-large;
   }
   .div{
    display: none;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    padding: 20x;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px5px;;
    width:440px;
    /* margin: auto; */
    margin-left: 250px;
    background-color: rgba(21, 184, 181, 0.436);
    
    }
     
   .text{
    border: 2px solid rgb(57, 55, 55);
    border-radius: 2px;
    border-radius: 15px;
    padding: 15px;
    width: 400px;
    height: 5px;
    background-color: beige;
   
  
  
  }
  /* signupage */
  
  /* login page  */
  
  
  .form {
    /* display: none;/ */
    position: fixed;
    bottom: 0;
    left:500px;
    margin: auto;
    /* margin-bottom: 100px; */
    border: 3px solid #f1f1f1;
    z-index: 9;
    margin-bottom: 20px;

  }
  
  
  .login {
    max-width: 300px;
    padding: 10px;
    background-color: rgb(41, 229, 239);
  }
  
  
  .login input{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  
  
  .login .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  .login .cancel {
    background-color: red;
  }
  .login .btn:hover  {
    opacity: 1;
  }
  .log:hover{
    background-color: #75e6f8;
  
  }
  /* /loginpage  */

  .in:hover{
    transform: scale(1.035);
    cursor: pointer;
    color: aqua;
  }